@import '../../Assets/styles/mixins.scss';
@import '../../Assets/styles/variables.scss';

.footer {
    background: white;
    bottom: 0;
    box-sizing: border-box;
    position: fixed;
    width: 100%;

    &__delim {
        @include gradient;
        height: 4px;
    }

    &__main {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 25px 15px;
    }

    &__logo {
        height: 30px;
    }

    &__copyright {
        font-size: 14px;
    }
}

@media (max-width: 414px) {
    .footer {
        &__copyright {
            font-size: 12px;
        }

        &__logo {
            height: 25px;
        }
    }
}